PORT=8000
MONGODB_URI=mongodb+srv://kumarsiddhant815:Kumar@123@clustur01.v2e92di.mongodb.net/?appName=clustur01
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=siddhantkumar
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=siddhantkumar123
REFRESH_TOKEN_EXPIRY=10d